# Database Configuration
DB_HOST=10.38.78.217
DB_PORT=3220
DB_USER=liujiantao
DB_PASSWORD=Liujt!@#
DB_NAME=energy_management_2026

# Flask Configuration
FLASK_ENV=production

# Gunicorn Configuration
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
